<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object
	th:include="acl#util/components :: header (${accelerateProperties.appName} + ' - Error Page', '0')"></object>
</head>
<body>
	<div class="container-fluid">
		<div class="alert alert-success">
			<h1>
				Error Page - <a
					th:href="${#httpServletRequest.contextPath} + ${accelerateProperties.homePage}"
					th:text="${accelerateProperties.appName}"></a>
			</h1>
		</div>

		<div class="alert alert-danger">
			<h4>There was an error in processing your request. Please try
				again in a little while or raise a service request providing the
				details below.</h4>
		</div>

		<h2>Error Details</h2>

		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<tr>
					<td>Request URI</td>
					<td th:text="${requestURI}">ERROR_URI</td>
				</tr>
				<tr>
					<td>Status Code</td>
					<td th:text="${errorStatusCode}">ERROR_STATUS_CODE</td>
				</tr>
				<tr>
					<td>Error Message</td>
					<td th:text="${errorMessage}">ERROR_MESSAGE</td>
				</tr>
				<tr>
					<td>Error Type</td>
					<td th:text="${errorType}">ERROR_TYPE</td>
				</tr>
				<tr>
					<td>Error Stack Trace</td>
					<td th:text="${errorStackTrace}">ERROR_STACK_TRACE</td>
				</tr>
			</table>
		</div>

		<div th:replace="acl#util/components :: request_details"></div>
	</div>
</body>
</html>
